html,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh; /* Set font size relative to viewport height */
}

.calendar {
  border: 1px solid #ccc;
  text-align: center;
  width: 100vw; /* Set width relative to viewport width */
  height: 100vh; /* Set height relative to viewport height */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  color: #fff;
  padding: 2vh; /* Set padding relative to viewport height */
}

#prevMonthBtn,
#nextMonthBtn {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 1vh 2vh; /* Set padding relative to viewport height */
  cursor: pointer;
}

#prevMonthBtn:hover,
#nextMonthBtn:hover {
  background-color: #555;
}

#currentMonth {
  font-size: 4vh;
}

.weekdays {
  background-color: #5d5d5d;
  display: flex;
  justify-content: space-between;
}

.weekdays > div {
  color: white;
  flex: 1;
  text-align: center;
  padding: 1vh; /* Set padding relative to viewport height */
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 2vh; /* Set padding relative to viewport height */
  height: 100px;
}

.day:not(.prev-month, .next-month) {
  border: 1px solid #ccc;
}

.day:hover:not(.prev-month, .next-month) {
  border: solid 1px black;
}

.today {
  background-color: #303030;
  color: white;
}

.prev-month,
.next-month {
  opacity: 0.3;
}
