 /* ---------------Reset--------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

body {
  overflow: auto;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---------------Base--------------- */

body {
  height: 100vh;
  background: linear-gradient(360deg, #4f1a36 10%, #91476c 60%, #d2aabd 100%);
}

main {
  height: 92%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------Header--------------- */

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 100%;
  padding: 60px;
  border-bottom: #91476c 5px solid;
  background-color: #ffffff;
  box-shadow: #00000090 0 0 50px;
  transition: all 0.5s ease;
}

header:hover {
  box-shadow: #000000 0 0 100px;
}

/* Title */

header .title {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

header .title:hover {
  transform: scale(1.1);
}

header .title img {
  width: 5cap;
  height: 50px;
  margin-right: 5px;
}

header .title a {
  font-size: xx-large;
  font-weight: bolder;
  color: #91476c;
}

/* Navigation */

header nav {
  display: flex;
  align-items: center;
}

header nav #nav-list {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  transition: all 0.5s ease;
}

header nav #nav-list.show {
  transform: translateX(-10%);
  opacity: 1;
  visibility: visible;
}

header nav #nav-list.hide {
  opacity: 0;
  visibility: hidden;
}

header nav a {
  font-size: large;
  font-weight: bold;
  color: #91476c;
  margin-right: 60px;
  transition: all 0.4s ease;
  border-bottom: solid 1px #91476c;
}

header nav a:hover {
  border-bottom: double 5px #91476c;
}

header nav button {
  border: none;
  background-color: transparent;
  color: #91476c;
  font-size: xx-large;
  font-weight: bolder;
  transition: all 0.5s ease;
}

header nav button:hover {
  cursor: pointer;
  transform: rotate(180deg) scale(1.5);
}

/* ---------------Home--------------- */

.home-container {
  height: 600px;
  width: 600px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Text */

.txt-container h1 {
  font-size: 80px;
  color: white;
  margin: 0 0 45px;
}

.txt-container h4 {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.txt-container p {
  color: white;
  font-size: 15px;
  margin-bottom: 40px;
  text-align: left;
}

/* Button */

.btn-container {
  width: 100%;
}

.btn-container button {
  background-color: #91476c;
  border: transparent;
  padding: 12px 30px;
  margin: 5px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}

.btn-container button a {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.btn-container button:hover {
  background-color: transparent;
  border: 1px solid white;
  transform: scale(1.1);
}

/* Image */

.img-container {
  height: 600px;
  width: 600px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container img {
  transition: all 0.5s ease;
}

.img-container img:hover {
  transform: scale(1.1);
}

/* Time and Date */

#datetime {
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  background-color: #ffffff38;
  color: #d2aabd;
  box-shadow: #0000007a 0 0 50px;
  padding: 5px;
  width: 100%;
}

/* ---------------About--------------- */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 1000px;
  padding: 50px;
  margin-top: 130px;
  border-radius: 10px;
  border: white 1px solid;
  box-shadow: black 0 0 10px;
  background-color: #0000005e;
  transition: all 0.5s ease;
}

.about-container:hover {
  transform: scale(1.03);
}

/* Title */

.about-container .title {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  margin-bottom: 15px;
}

.about-container .title img {
  width: 5cap;
  height: 50px;
  margin-right: 5px;
}

.about-container .title p {
  font-size: xx-large;
  font-weight: bolder;
  color: #91476c;
  text-shadow: #00000060 0 0 5px;
}

.about-container p {
  color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  line-height: 2;
}

.about-container .profiles {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  text-align: center;
}

.about-container .profiles img {
  width: 100px;
  margin-top: 50px;
  border: white 1px solid;
  border-radius: 5px;
  padding: 2px;
  box-shadow: #ffffff6d 0 0 10px;
}

.about-container .profiles figcaption {
  color: #09719a;
  margin-top: 10px;
}

/* ---------------Contact--------------- */

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  width: 1000px;
  padding: 50px;
  margin-top: 130px;
  border-radius: 10px;
  border: white 1px solid;
  box-shadow: black 0 0 10px;
  background-color: #0000005e;
  transition: all 0.5s ease;
}

/* Contact Form */

.contact-container:hover {
  transform: scale(1.03);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 440px;
  padding: 30px;
  color: white;
}

.contact-container form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-container label {
  width: 100%;
  text-align: left;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 5px;
  background-color: #ffffff30;
  border: black 0.5px solid;
}

.contact-container button {
  background-color: #91476c;
  color: white;
  border: transparent;
  padding: 12px 30px;
  margin: 5px;
}

.contact-container button:hover {
  opacity: 0.5;
}

/* info */

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 440px;
  padding: 30px;
  color: white;
}

.info-container p {
  margin: 5px;
  text-align: left;
}

/* ---------------Footer--------------- */

footer {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #45373e;
  border-top: #000000 1px solid;
  color: #d2aabd;
}

footer p {
  font-size: 12px;
}

/* ---------------Mobile Responsiveness--------------- */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 20px;
  }

  header:hover {
    box-shadow: #00000090 0 0 50px;
  }

  header nav {
    margin-top: 10px;
  }

  header nav #nav-list {
    position: fixed;
    top: 100px;
    right: 5px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: #4f1a36 0 0 10px;
    border: #000000 1px solid;
    border-radius: 5px;
  }

  header nav a {
    display: flex;
    margin-right: 0;
    margin-bottom: 10px;
  }

  main .home-container,
  main .img-container {
    height: auto;
    width: auto;
    padding: 20px;
  }

  .txt-container h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .btn-container button {
    padding: 10px 20px;
  }

  .img-container img {
    display: none;
  }

  footer p {
    scale: 0.7;
  }

  .about-container {
    scale: 0.9;
    overflow: scroll;
  }

  .contact-container {
    flex-direction: column;
    scale: 0.9;
    padding: 0;
    overflow: scroll;
  }
}
