/* Reset */
html,
body {
  margin: 0;
  padding: 0;
}

/* Base Styles */
html {
  background-color: #4f1a36;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(360deg, #4f1a36 10%, #91476c 60%, #d2aabd 100%);
}

/* Header Styles */
header {
  padding-top: 50px;
}

h1 {
  margin-top: 20px;
  font-size: 80px;
  color: white;
}

h2 {
  font-size: 20px;
  color: white;
}

/* Navigation Styles */
nav {
  position: fixed;
  z-index: 1000;
  top: 24%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  width: auto;
  pointer-events: none;
}

.nav-button {
  position: relative;
  left: -40%;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 130px;
  padding: 15px;
  border-radius: 0 20px 20px 0;
  background-color: #91476c;
  box-shadow: #45373e 0 0 10px;
  outline: black 1px solid;
  transition: all 0.5s ease;
  pointer-events: all;
}

.nav-button:hover {
  left: -10%;
}

nav button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  transition: all 0.5s ease;
}

nav button:hover {
  background-color: transparent;
  cursor: pointer;
  transform: rotate(180deg) scale(1.5);
}

nav #nav-list {
  display: flex;
  flex-direction: column;
  width: 130px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: all;
}

nav #nav-list.show {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

nav #nav-list.hide {
  transform: translateX(-20%);
  opacity: 0;
  visibility: hidden;
}

nav #nav-list a {
  background-color: #91476c;
  font-size: large;
  font-weight: bold;
  color: #fff;
  margin: 5px;
  padding: 15px;
  box-shadow: #45373e 0 0 5px;
  outline: black 1px solid;
  text-decoration: none;
}

nav #nav-list .unique {
  background-color: #09719a;
}

nav #nav-list a:hover {
  background-color: #64394f;
}

nav #nav-list .unique:hover {
  background-color: #074c68;
}

/* Todo List Styles */
.todo-container {
  width: 1000px;
  margin: 0 10px auto;
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  width: 300px;
  height: 40px;
  padding: 5px;
  margin-right: 5px;
  font-size: 16px;
  color: white;
  background-color: #91476c;
  border: black 1px solid;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 125px;
  height: 50px;
  font-size: 16px;
  background-color: #91476c;
  color: white;
}

button:hover {
  background-color: #d2aaaa;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
}

li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  word-break: break-all;
  flex-wrap: wrap;
  text-align: left;
  margin: 10px;
}

li:hover {
  cursor: pointer;
}

li > button {
  right: 0;
  padding: 10px 20px;
  width: 125px;
  height: 50px;
  font-size: 16px;
  background-color: #bcd2aa;
}

li.completed {
  text-decoration: line-through;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
}

.modal-content {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  background-color: #45373e;
  color: #d2aabd;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  font-size: 12px;
  background-color: #45373e;
  color: #d2aabd;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 768px) {
  nav {
    scale: 0.8;
    top: 4.5%;
    left: -3.5%;
  }

  .nav-button {
    left: -40%;
    margin-bottom: 10px;
  }

  header h1 {
    font-size: 50px;
  }

  input {
    margin-bottom: 10px;
  }

  li {
    font-size: 15px;
  }

  li > button {
    width: 100px;
    height: 40px;
  }

  footer,
  .copyright p {
    font-size: x-small;
  }
}
