/* reset */
html,
body,
.container {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body,
.container {
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-container {
  width: 400px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 200px;
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #ddd;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

li {
  margin-bottom: 10px;
}

/* Navigation */
nav #nav-list {
  position: absolute;
  z-index: 1000;
  bottom: 42%;
  left: 1%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  transition: all 0.5s ease;
}

nav #nav-list.show {
  transform: translateX(-10%);
  opacity: 1;
  visibility: visible;
}

nav #nav-list.hide {
  opacity: 0;
  visibility: hidden;
}

nav #nav-list a {
  background-color: #91476c;
  font-size: large;
  font-weight: bold;
  color: #fff;
  margin: 5px;
  padding: 15px;
  box-shadow: #45373e 0 0 5px;
  outline: black 1px solid;
  text-decoration: none;
}

nav #nav-list .unique {
  background-color: #09719a;
}

nav #nav-list a:hover {
  background-color: #64394f;
}

nav #nav-list .unique:hover {
  background-color: #074c68;
}

/* nav button */

.nav-button {
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  z-index: 1000;
  bottom: 70%;
  left: -6%;
  width: 9%;
  height: 30px;
  padding: 15px;
  border-radius: 0 20px 20px 0;
  background-color: #91476c;
  box-shadow: #45373e 0 0 10px;
  outline: black 1px solid;
  transition: all 0.5s ease;
}

.nav-button:hover {
  transform: translateX(35%);
}

nav button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  transition: all 0.5s ease;
}

nav button:hover {
  cursor: pointer;
  transform: rotate(180deg) scale(1.5);
  background-color: transparent;
}
