/* reset */
html,
body,
.container {
  margin: 0;
  padding: 0;
}

/* HTML */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(360deg, #4f1a36 10%, #91476c 60%, #d2aabd 100%);
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3%;
  width: 100%;
  padding: 10px;
  color: #d2aabd;
  background-color: #45373e;
  border-top: #000000 1px solid;
}

footer p {
  font-size: 12px;
}

h1 {
  margin-top: 20px;
  font-size: 80px;
  color: white;
}

h2 {
  font-size: 20px;
  color: white;
}
/* navigation */

nav #nav-list {
  position: absolute;
  z-index: 1000;
  bottom: 53%;
  left: 1%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  transition: all 0.5s ease;
}

nav #nav-list.show {
  transform: translateX(-10%);
  opacity: 1;
  visibility: visible;
}

nav #nav-list.hide {
  opacity: 0;
  visibility: hidden;
}

nav #nav-list a {
  background-color: #91476c;
  font-size: large;
  font-weight: bold;
  color: #fff;
  margin: 5px;
  padding: 15px;
  box-shadow: #45373e 0 0 5px;
  outline: black 1px solid;
  text-decoration: none;
}

nav #nav-list .unique {
  background-color: #09719a;
}

nav #nav-list a:hover {
  background-color: #64394f;
}

nav #nav-list .unique:hover {
  background-color: #074c68;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Change this line */
  position: absolute;
  z-index: 1000;
  bottom: 80%;
  left: -6%;
  width: 9%;
  height: 10px;
  padding: 15px;
  border-radius: 0 20px 20px 0;
  background-color: #91476c;
  box-shadow: #45373e 0 0 10px;
  outline: black 1px solid;
  opacity: 50%;
  transition: all 0.5s ease;
}

.nav-button:hover {
  opacity: 100%;
  transform: translateX(35%);
}

nav button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  transition: all 0.5s ease;
}

nav button:hover {
  cursor: pointer;
  transform: rotate(180deg) scale(1.5);
  background-color: transparent;
}
/* todo list */

.todo-container {
  width: 1000px;
  margin: 0 10px auto;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of viewport height */
}

input {
  width: 200px;
  height: 40px;
  padding: 5px;
  margin-right: 5px;
  font-size: 16px;
  color: white;
  background-color: #91476c;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 125px;
  height: 50px;
  font-size: 16px;
  background-color: #91476c;
  color: white;
}

button:hover {
  background-color: #d2aaaa;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: center;
}

li {
  font-size: 25px;
  margin: 10px;
  color: white;
}

li > button {
  float: right;
  padding: 10px 20px;
  margin-right: 180px;
  width: 125px;
  height: 50px;
  font-size: 16px;
  background-color: #bcd2aa;
}

li.completed {
  text-decoration: line-through;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent; /* Fallback color */
}

/* Modal Content */
.modal-content {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  background-color: #45373e;
  color: #d2aabd;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* ---------------Mobile Responsiveness--------------- */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 20px;
  }

  nav {
    margin-top: 10px;
  }

  nav #nav-list {
    position: fixed;
    top: 180px;
    left: 5px;
    padding: 10px;
    background-color: transparent;
    box-shadow: #4f1a36 0 0 10px;
    border: #000000 1px solid;
    border-radius: 5px;
  }

  nav a {
    display: flex;
    margin-left: 0;
    margin-bottom: 10px;
  }

  main .centered-container,
  main .todo-container {
    height: auto;
    width: auto;
    padding: 92px;
  }

  footer p {
    scale: 0.7;
  }
}
